@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url(http://fonts.googleapis.com/css?family=Lato);
html, body {
        height: 100%;
}
.nav {
        height:36px;
        text-align:center;
        background-color: #222222;
        margin:0 auto;
        padding:0;
        position:fixed;
        width:100%;
}
.nav a:link, a:visited {
    display: block;
    width: 240px;
    font-weight: bold;
    color: #CCCCCC;
    background-color: #222222;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    text-transform: uppercase;
}
.nav a:hover, a:active {
        background-color: #111111;
}
.nav ul {
        display:inline-block;
        list-style-type:none;
        padding:0;
        margin:0;
        overflow:hidden;
}
.nav li {
        float:left;
}
.nav a {
        font-family:'Late', sans-serif;
        letter-spacing:1.3;
        display:block;
        width:60px;
}
.container-full {
        margin:0 auto;
        min-height:40%;
        width:100%;
        
        overflow:hidden;
        position: relative;
        top: 36px;
}
.v-center {
        margin-top:9%;
        margin-bottom:9%;
}
h1 {
        font-family:'Ubuntu', sans-serif;
        font-size:85px;
        color:#222222;
}
.lead {
        color:#DDDDDD;
}
.wrapper {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        margin: 0 auto -4em;
}
.footer, .push {
        height: 4em;
}

#particles {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:#999;
    z-index: -1;
}

.row.on-top-row {
         background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.3), rgba(0,0,0,0.4));
        background-image: -moz-linear-gradient(top, rgba(0,0,0,0.3), rgba(0,0,0,0.4));
        background-image: -o-linear-gradient(top, rgba(0,0,0,0.3), rgba(0,0,0,0.4));
        background-image: -ms-linear-gradient(top, rgba(0,0,0,0.3), rgba(0,0,0,0.4));
        background-image: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.4)); 
}
